---
layout: 'layouts/404'
title: '404 - Page not found'
meta:
  desc: 'A minimal starting point for building static websites with 11ty, powered by Vite with Tailwind CSS.'
  title: '404 - not found'
eleventyExcludeFromCollections: true
ignore: true
---

<h1>Nothing is here!</h1>
<h2>404 - Not found</h2> 
<p>The page you're looking for wasn't found here</p>