---
layout: 'layouts/home'
title: 'Contact'
meta:
  desc:
    'Contact page | 11ty-starter-kit is a minimal starting point for building static websites
    with 11ty, powered by Vite with Tailwind CSS and Alpine.js.'
---

<h1>Contact</h1>

You've reached the contact page!