---
layout: 'layouts/home'
title: 'Home'
meta:
  desc:
    '11ty-prioflux-starter is a starting point for building static websites
    with 11ty, powered by Vite and including the basic features necessary to build frontends that are optimized for a great page experience'
intro:
  title: 'This is the Prioflux Eleventy app starter'
  desc:
    'For a guide and recipes on how to configure / customize this project, check
    out the <a href="https://www.11ty.dev/docs/" class="font-medium text-gray-900 underline">Eleventy</a> and <a href="https://vitejs.dev/"
    class="font-medium text-gray-900 underline">Vite</a> documentation.'
---

{% include 'partials/home/hero' %}

<h1>Tools &amp; Technologies</h1>

<ul class="mb-4">
  <li class="block">Static site generation and framework with <a href="https://www.11ty.dev/" target="_blank">Eleventy + Liquid templating</a></li>
  <li class="block">Build &amp; development tooling + Progressive Web App enabled with <a href="https://vitejs.dev/" target="_blank">Vite</a></li>
  <li class="block">Styling with <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a></li>
  <li class="block">Interactivity with <a href="https://github.com/alpinejs/alpine/" target="_blank">Alpine.js</a></li>
</ul>

<h1>Features</h1>

<ul class="mb-4">
  <li class="block">Ready for CDN hosting (incl. Continuous Deployment) with <a href="https://www.netlify.com/" target="_blank">Netlify</a></li>
  <li class="block">Preview deploys with <a href="https://www.netlify.com/" target="_blank">Netlify</a></li>
  <li class="block">Content Security Policy for extra security layer in Netlify hosting config</li>
  <li class="block">Image optimization (convert to webp + jpeg / compression / responsive variants / progressive lazy loading)</li>
  <li class="block">Custom fonts (CDN)</li>
  <li class="block">SEO and social sharing metadata</li>
  <li class="block">Web Vitals Optimization for SEO & page experience (LCP / CLS / FID)</li>
  <li class="block">Insights with Google Analytics (gtag)</li>
  <li class="block">Minifying HTML, JavaScript, CSS</li>
</ul>

<h1>Awesome</h1>

<div class="mb-4">
  <a class="block" href="https://github.com/scottishstoater/awesome-eleventy" target="_blank">Eleventy</a>
  <a class="block" href="https://github.com/vitejs/awesome-vite" target="_blank">Vite</a>
  <a class="block" href="https://github.com/aniftyco/awesome-tailwindcss" target="_blank">Tailwind CSS</a>
  <a class="block" href="https://github.com/alpine-collective/awesome" target="_blank">Alpine.js</a>
</div>
