---
layout: 'layouts/home'
title: 'Home'
meta:
  desc:
    '11st-Starter-Kit is a minimal starting point for building static websites
    with 11ty, powered by Vite with Tailwind CSS and Alpine.js.'
intro:
  title: 'Welcome to Your Eleventy App'
  desc:
    'For a guide and recipes on how to configure / customize this project, check
    out the <a href="https://www.11ty.dev/docs/" class="font-medium text-gray-900 underline">Eleventy</a> and <a href="https://vitejs.dev/"
    class="font-medium text-gray-900 underline">Vite</a> documentation.'
---

{% include 'partials/home/hero' %}

<h1>Community</h1>

<a class="block" href="https://www.11ty.dev/news/discord/" target="_blank">Eleventy</a>
<a class="block" href="https://chat.vitejs.dev/" target="_blank">Vite</a>
<a class="block" href="https://tailwindcss.com/discord" target="_blank">Tailwind CSS</a>
<a class="block" href="https://discord.gg/CGmj5nq" target="_blank">Alpine.js</a>

<h1>Awesome</h1>

<a class="block" href="https://github.com/scottishstoater/awesome-eleventy" target="_blank">Eleventy</a>
<a class="block" href="https://github.com/vitejs/awesome-vite" target="_blank">Vite</a>
<a class="block" href="https://github.com/aniftyco/awesome-tailwindcss" target="_blank">Tailwind CSS</a>
<a class="block" href="https://github.com/alpine-collective/awesome" target="_blank">Alpine.js</a>

<h1>Ecosystem</h1>

<a class="block" href="https://www.11ty.dev/" target="_blank">Eleventy</a>
<a class="block" href="https://vitejs.dev/" target="_blank">Vite</a>
<a class="block" href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>
<a class="block" href="https://github.com/alpinejs/alpine/" target="_blank">Alpine.js</a>
