---
layout: 'layouts/home'
title: 'Over'
meta:
  desc:
    '11st-Starter-Kit is a minimal starting point for building static websites
    with 11ty, powered by Vite with Tailwind CSS and Alpine.js.'
intro:
  title: 'About'
  desc:
    'This is the starting point for a Prioflux static website project with<span class="font-semibold text-gray-900"> 11ty
    </span>.'
---

<h1>Hosting</h1>

This site is deployed by, and hosted by <a href="https://www.netlify.com/" target="_blank">Netlify</a>

<p class="flex items-center m-0">
  Latest deploy status:
  <a href="https://app.netlify.com/sites/11ty-prioflux-starter/deploys" class="ml-2">
    <img
      src="https://api.netlify.com/api/v1/badges/a4fe51cc-436d-490c-bd59-70fbb55d5fc6/deploy-status"
      style="margin: 0"
      alt="Netlify Status"
    />
  </a>
</p>

<h1>Data</h1>

<p>Data from external sources can be added using <a href="https://www.11ty.dev/docs/data-js/" target="_blank">JavaScript Data Files</a></p>

<p>See an example here for <a href="https://www.webstoemp.com/blog/headless-cms-graphql-api-eleventy/" target="_blank">consuming a headless CMS GraphQL API with Eleventy (e.g. DatoCMS, Craft CMS, Contenful, etc.)</a></p>

