<header>
  <nav class="max-w-2xl px-4 mx-auto sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <a href="/">
        <figure class="flex items-center flex-shrink-0 space-x-1">
          <img
            alt="11st starter-kit logo"
            class="w-auto h-8"
            src="/assets/images/11st-logo.svg"
            height="32"
            width="32"
          />
          <figcaption>Starter-Kit</figcaption>
        </figure>
      </a>
      <ul class="flex space-x-4">
        {% for item in header.links %}
          {% if item.url == page.url %} 
            {% assign highlight = 'cursor-default' %}
            {% assign current = 'aria-current="page"' %}
          {% else %}
            {% assign highlight = 'underline' %}
            {% assign current = '' %}
          {% endif %}
        <li>
          <a
            href="{{ item.url }}"
            class="text-base font-bold {{ highlight }}"
            {{ current }}
          >
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
        <li>
          <a
            href="https://github.com/stefanfrede/11st-starter-kit/"
            class="text-base font-bold underline hover:text-green-900"
            target="_blank"
          >
            GitHub
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
